---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout title="Homepage Astro">
	<h1>Astro</h1>
	<a href="/about">About</a>
	<Footer name="Footer nya" />
	<Header slot="header"/>
</MainLayout>
