---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout title="Homepage Astro">
	<h1>Astro</h1>
	<a href="/about">About</a>
	<Footer name="Footer nya" />
	<!-- walaupun diduplikat komponen tpi ttp script yang dijalanin bakal disatuin sebagai bundling -->
	<Header slot="header"/>
	<Header slot="header"/>

	<!-- script yg ga ke isolate dari 1 component lain, ntar bakal kena ke komponen lainnya jga -->
	<button>INI BUTTON</button>
</MainLayout>
