---
// mode static (proses build)
// mode server (proses request terjadi dari user)
// tidak dapat dijalankan di client browser
// fetching data, akses database, akses API
---

<header>
  <h1>Selamat Datang di Astro</h1>
  <p>Temukan berita terbaru dan terpopuler hanya di Astro</p>
  <button>Klik saya untuk melihat pesan</button>
</header>

<script>
  const button = document.querySelector('button');
  button.addEventListener('click', () => {
    alert('Selamat datang di Astro!');
  })
</script>

<!-- local style -->
<style>
  h1 {
    color: purple;
  }
</style>